/* The Modal (background) */
#one-click-checkout-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.one-click-checkout-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 450px; /* Could be more or less, depending on screen size */
}

#one-click-checkout-close-modal {
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

#one-click-checkout-close-modal:hover {
  transform: scale(1.1);
}

#checkout-form-container #order_review {
  width: auto !important;
}

#checkout-form-container #order_review_heading {
  float: left !important;
}

#checkout-form-container .woocommerce-shipping-fields,
#checkout-form-container .woocommerce-billing-fields,
#checkout-form-container #customer_details {
  display: none;
}
